.DinamicSingleMovie {
  display: flex;
  height: auto;
  width: 250px;
  flex-direction: row;
  margin: unset;
}
#imgMovie {
  width: 100%;
  max-width: 80px;
  height: auto;
  flex: 1;
}

.DinamicInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.DinamicInfo p {
  max-width: 300px;
  margin: unset;
  color: white;
}
.DinamicInfo p:nth-child(2) {
  font-weight: bolder;
  color: yellow;
  text-align: start;
}
