.addFormContainer{
    width:100%;
    /* padding:1em; */
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
}
.addForm{
    /* width:45%; */
    /* border: 1px solid gray; */
    margin-left: 3em;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/* .addForm h2{
    color: #505c7c;
} */
.addPoster{
    min-width:30%;
    display:flex;
    flex-flow:column wrap;
    align-items: center;
}

.fieldWrapper{
    width: 18em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1em;
    margin-left: 1em;
}
label{
    color:white;
    cursor: pointer;
}

.addField{
  
    padding:0.5em;
    outline:none;
    border: none;
    border-radius: 0.7em;
    background-color: #282e3c;
    /* background-color: #505c7c; */
    color: white;
    align-self: flex-end;
    font-size: 0.9em;
}
.addField:active{
    outline:none;
    border: none;
    border-radius: 0.7em;
    background-color: #282e3c;
}


.addPoster label{
    
    padding-top: 3em;
    margin-bottom: 1em;
}
.addPosterField{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3em;
}
.ceva{
    width:12em;
    height:4em;
    background-image: url('../Images/fakePoster.png');
    background-position: center;
}
.btnsWrapper{
    margin-top:2em;
    margin-left: 31%;
    align-self: flex-end;
}
.addBtn,
.pvwBtn{
    margin-right: 1em;
    background-color: #282e3c;
    color: #fdff00;
    padding:1em;
    border: none;
    outline:none;
    border-radius: 0.7em;
    font-size: 1em;
    
}

.pvw{
    width: 45%;
    padding: 1em;
    border: 0.01px solid yellow;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    color: white;
 
}
.pvw img{
    width: 12em;
    /* background-image: url('https://i.pinimg.com/originals/31/d6/fb/31d6fb7595b44e4b649aec2ce079e68a.jpg'); */
}
.pvwDetails{
    
    margin-left: 1em;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1em;
}
.pvwDetails p{
    margin-bottom: 0.5em;
}
.pvwLine span{
    color:#fdff00;
}