.editMovieDiv{
    margin-top: 80px;
    color: whitesmoke;
}
.movieDetails-container{
    width: 60%;
    height: 100%;
    background-color: #2E2B2B;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.movieDetailsImg{
   display: flex;
   flex-basis: 1;
}
.movieDetailsInfo{
    flex-basis: 2;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detailsImg{
   width: 100%;

}

p{
    color: white;
}
.editMovie{
    padding: 1%;
    border: none;
    background-color: yellow;
}