.moviesFiltersBar-container{
    display: flex;
    flex-direction: column;
}

.dropdown-menus-container {
    display: flex;
    justify-content: space-between;
    margin-left: 2.7rem;
}

.dropdown-menu-container{
    display: flex;
    flex-direction: column;

}

.dropdown-menu {
     display: flex;
     align-items: center;
     margin-right: 2.5rem;
     cursor: pointer;
}

.dropdown-menu p {
    color: rgba(255, 255, 255, 0.705);
}

.filter p {
    color: rgba(255, 255, 255, 0.603);
    cursor: pointer;
}

.filter {
    margin-top:1rem;
     line-height: 2rem;
}

#Genre-filter-display{
    margin-left: 6.5rem;
}
#imdbRating-filter-display{
    margin-left: 9rem;
}

#Year-filter-display{
    margin-left: 6rem;
}

#Language-filter-display{
    margin-left: 8.5rem;
}

.dropdown-menu .fa-w-8, .fa-w-10 {
    margin-left: 4rem;
    color: rgba(255, 255, 255, 0.856); 
    cursor: pointer;
}

#Genre-filter-hide, #imdbRating-filter-hide,
#Year-filter-hide, #Language-filter-hide{
    display: none;
}

#Genre-filter-display, #imdbRating-filter-display,
#Year-filter-display, #Language-filter-display{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

